@model CypherHash.Models.Usuario

@{
    ViewData["Title"] = "Credentials";
}

<div class="card">
    <div class="card-header">Validar Usuario</div>
    <div class="col-md-4">
        <form asp-action="Credentials">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user" class="control-label"></label>
                <input asp-for="user" class="form-control" />
                <span asp-validation-for="user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pswd" class="control-label"></label>
                <input asp-for="pswd" class="form-control" />
                <span asp-validation-for="pswd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" asp-controller="Home"
                   class="btn btn-primary">
                    Home
                </a>
            </div>
        </form>
    </div>
    <div class="card-footer">
        @if (ViewData["MENSAJE"] != null)
        {
            <p class="text-danger"><b>@ViewData["MENSAJE"]</b></p>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
